/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100,300);

/* enable clicking on elements 'hiding' behind body in 3D */
body     {
	pointer-events: none;
	background-color: #EBEBEB;
}

#impress {
	pointer-events: auto;
}

/* COMMON STEP STYLES */

.step {
    width: 900px;
    padding: 10px 15px 10px 15px;
    font-family: 'Roboto', sans-serif;

    -webkit-box-sizing: border-box;
    -webkit-transition: opacity 1s;
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0.05;
}

.impress-on-intro .future {
	opacity: 0.01;
}

.impress-on-intro .past {
	opacity: 0.01;
}

/* STEP SPECIFIC STYLES */

/* intro step*/

#intro .giant {
	font-family: 'Roboto Slab', serif;
	font-size: 1600px;
}

#intro .rest {
	font-size: 24px;
	opacity: 0.7;
}

#intro.present .giant {
	font-size: 156px;
	-webkit-transition: font-size 8s ease;
}

/* challenge/opportunity step */
#opps div {
	display: inline-block;
}

#opps b {
	display: inline-block;
	font-size: 48px;
	font-weight: 300;
	opacity: 0.9;
}

#opps .three {
	color: #333333;
	font-family: 'Roboto Slab', serif;
	font-size: 256px;
}

#opps circle {
	fill: crimson;
	fill-opacity: 0.15;
	stroke: crimson;
	stroke-opacity: 0.8;
	stroke-width: 2px;
}

#opps .c {
	color: crimson;
	opacity: 0.8;
}

#opps .o {
	color: darkgreen;
	opacity: 0;
	-webkit-transform: rotateX(90deg);
}

#opps.present .c {
	opacity: 0;
	-webkit-transform: rotateX(-90deg);
	-webkit-transition: opacity 10ms 3s,
						-webkit-transform 3s 500ms;
}

#opps.present .o {
	opacity: 0.8;
	-webkit-transform: rotateX(0deg);
	-webkit-transition: opacity 10ms 500ms,
						-webkit-transform 3s 500ms;
}

#opps.present circle {
	stroke: darkgreen;
	fill: darkgreen;
	-webkit-transition: stroke 3s 500ms,
						fill 3s 500ms;
}

/* opps 1-3 steps */

.opps-steps .slide {
	display: inline-flex;
}

.opps-steps .opp-circle {
	fill: darkgreen;
	fill-opacity: 0.15;
	stroke: darkgreen;
	stroke-opacity: 0.9;
	stroke-width: 2px;
}

.opps-steps .text {
	display: inline-table;
	font-size: 36px;
	font-weight: 100;
	color: #444;
}

.opps-steps .risk {
	font-family: 'Roboto Slab';
	font-weight: 400;
}

/* securities */

.security img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.geeks img {
	width: 80%;
	height: 80%;
}

.equations img {
	width: 95%;
	height: 80%;
}

.machines img {
	width: 100%;
	height: 100%;
}

/* portfolios */

.portfolio img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sigma p {
	text-align: center;
	font-size: 150px;
	font-family: 'Times';
	font-weight: 300;
	color: #333;
}

.sigma sub {
	font-size: 70px;
}

#portfolio-2.past {
	opacity: 0;
}

#portfolio-3.present img {
	height: 1%;
	width: 1%;
	-webkit-transition: all 7s ease;
}

#portfolio-3.past img {
	height: 1%;
	width: 1%;
}

/* closing */

#mcost .axes {
	stroke: #aeaeae;
	stroke-width: 4px;
}

#mcost .axes text {
	stroke: #555;
	stroke-opacity: 0.5;
	stroke-width: 2px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 28px;
}

#mcost .tandm {
	font-size: 36px;
	color: #555;
	margin-bottom: -10px;
	margin-left: 3px;
}

#mcost .fixed {
	stroke: #777;
	stroke-width: 2px;
	stroke-opacity: 0.8;
}

#mcost .variable-lines .red-line {
	stroke: crimson;
	stroke-width: 3px;
	stroke-opacity: 0.8;
}

#mcost .areas .red {
	fill: crimson;
	fill-opacity: 0.2;
}

#mcost .areas .green {
	fill: green;
}

#end p {
	text-align: center;
	font-size: 70px;
	font-family: 'Roboto', serif;
	font-weight: 100;
	color: #555;
}

/* overview step */

#overview {
    z-index: -1;
    padding: 0;
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.impress-on-overview #intro .giant {
    font-size: 156px;
}

.impress-on-overview #security-4 {
	display: none;
}

.impress-on-overview #portfolio-2 {
	display: none;
}

.impress-on-overview #portfolio-3 img {
	height: 15%;
	width: 15%;
}